<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
	<appSettings>
		<!-- Shared RPC settings start -->
		<add key="RpcRequestTimeoutInSeconds" value="60" />
		<!-- Shared RPC settings end -->

		<!-- Ravencoin settings start -->
		<add key="Ravencoin_DaemonUrl" value="http://192.168.123.201:18766" />
		<add key="Ravencoin_DaemonUrl_Testnet" value="http://192.168.123.201:18766" />
		<add key="Ravencoin_WalletPassword" value="MyWalletPassword" />
		<add key="Ravencoin_RpcUsername" value="blind" />
		<add key="Ravencoin_RpcPassword" value="guardian" />
		<add key="Ravencoin_TestWallet_One" value ="mhTZxfbKVKXP3C6K4ZEfgrbbYjBWTx7TeN"/>
		<add key="Ravencoin_TestWallet_Two" value ="mpFceQeEMBy5bYkeBMDo5qT2Cq7pGN13nk"/>
		<!-- Ravencoin settings end -->

	</appSettings>
</configuration>